<div class="register" class="text-center">
  <main class="form-signin">
    <form [formGroup] = 'form' (ngSubmit)="register()">
      <h1 class="h3 mb-3 fw-normal">Register</h1>

      <div class="form-floating mb-2">
        <input
          type="text"
          class="form-control"
          formControlName="name"
        />
        <label for="name">Name</label>
      </div>
      <div class="form-floating mb-2">
        <input
          type="email"
          class="form-control"
          formControlName="email"
        />
        <label for="email">Email</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
        <label for="password">Password</label>
      </div>
      <button [disabled]="loading" class="w-100 btn btn-lg btn-outline-success mt-2">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Register
      </button>
    </form>
  </main>
</div>
